# Core data science
pandas==2.3.1
numpy==2.3.2
scikit-learn==1.7.1

# Visualization
matplotlib==3.9.0
seaborn==0.13.2

# Web framework
streamlit==1.47.1

# For deployment helpers
joblib==1.5.1  # to save/load the model

